*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

@keyframes rotate3d {
    0%{
        transform: rotateX(45deg) rotateY(45deg);
    }
    100%{
        transform: rotateX(45deg) rotateY(45deg);
    }
    100%{
        transform: rotateX(-45deg) rotateY(-45deg);
    }
    0%{
        transform: rotateX(45deg) rotateY(45deg);
    }
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    margin: 30px;
}
h1{
    margin-left: 100px;
    border: 2px solid black;
    margin: 20px;
}

.android{
    background-color: black;
    border: 2px solid black;
    height: 750px;
    width: 350px;
    border-radius: 40px;
    transform: rotateX(30deg) rotateY(30deg);
    box-shadow: 30px 30px 40px 0px rgba(0, 0, 0,0.9);

    animation: rotate3d 5s infinite;
/* margin-left: 200px; */
}
.android:hover{
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0,0.9);
    transform: rotateX(0deg) rotateY(0deg);
    animation: none;
    
}



.camera{
    height: 20px;
    width: 20px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
    margin-left: 160px;
    margin-top: 10px;
    background-color: black;
    z-index: 2;
    position: relative;
}
img{
    height: 39px;
    width: 39px;
    border-radius: 50px;
}
.android-searchbar input{
    border: 2px solid #fff;
    height: 30px;
    width: 320px;
    border-radius: 5px;
    margin-left: 9px;
    margin-top: 10px;
    font-size: 17px;
    padding-left: 5px;
    padding-top: 2px;
    background-color: rgb(235, 235, 235);
    z-index: 2;
}
.innerscreen{
    height: 740px;
    width: 340px;
    border: 2px solid black;
    border-radius: 40px;
    margin-left: 3.5px;
    margin-top: 2.8px;
    background-color: white;
    background-image: url(img/IMG-20241122-WA0001.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    /* opacity: 0.7; */
}
.innerscreen::before{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;

}
.icon-set{
    position: relative;
    margin-top: 50px;
    z-index: 2;
}
.icons{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    margin-left: 25px;
    /* margin-top: 160px; */
}
.icon-set{
    overflow-y: scroll;
    height: 590px;

}
.icon-set::-webkit-scrollbar{
    display: none;
}
.icons-set-2{margin-top: 40px;
}
.icons-set-3{
    margin-top: 25px;
}
.icons-set-4{
    margin-top:30px;
}
.icons-set-5{
margin-top: 30px;
}
.icons-set-6{
margin-top: 15px;
}
.icons-set-7{
margin-top: 30px;
}
.icon{
border: 1px solid black;
height: 40px;
width: 40px;
border-radius: 8px;
background-color: black;

}
.icon1{
    background-color: aliceblue;
}

.icon5{
    background-color: black;
    
}
.icon5>img{
    border-radius: 20px;
}

.model{
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
}

/* individual icons */
.icon1{
    border-color: aliceblue;
}
.icon2{
    background-color: #12a737;
    border-color:#12a737 ;
}
.icon2>img{
    height: 38px;
    width: 38px;
}
.icon4{
    background-color: #229ED9;
    border-color: #229ED9;
}
.icon4>img{
    height: 38px;
    width: 38px;
}
.icon5{
    background-color: #efefef;
    border-color: #efefef;
}
.icon5>img{
    width: 38px;
    height: 38px;
}
.icon6{
    background-color: white;
    border-color: white;
}
.icon6 img{
    height: 36px;
    width: 36px;
}
.icon7{
    background-color: #0cdf41;
    border-color: #0cdf41;
}
.icon7 img{
    height: 38px;
}
.icon8{
    background-color:white ;
    border-color: white;
}
.icon8 img{
    height: 38px;
    width: 36px;
    padding-left: 2px;
}
.icon9{
    background-color: white;
    border-color: white;
}
.icon11{
    background-color: #2ef5f5;
    border-color: #2ef5f5;
}
.icon12{
    background-image:linear-gradient(180deg,#2ef5f5,white);
    border-color: #cae3e3;

}
.icon12 img{
    height: 38px;
    width: 38px;
}
.icon13{
    background-color: #1a1d1f;
    border-color:#1a1d1f ;
}
.icon14{
    background-color: white;
    border-color: white;
}
.icon14 img{
    height: 38px;
    width:38px ;
}
.icon15 {
    background-image:linear-gradient(180deg,#e7dede,#372a2a) ;
    border-color: silver;
}
.icon16{
    background-color: #000000;
}
.icon17{
    background-image:linear-gradient(180deg,#ffffff,silver) ;
    border-color:#eee9e9 ;
}
.icon18{
    background-image: radial-gradient(circle,black,#17a57dfa,#ffffff);
    border-color:#51c1a1fa ;
}
.icon18 img{
    height: 36px;
}
.icon19{
    background-color: white;
    border-color: white;
}
.icon20{
    background-image: linear-gradient(45deg,gold,white);
    border-color: gold;
}
.icon21, .icon22, .icon25, .icon27,.icon24, .icon29, .icon31, .icon32, .icon33, .icon35, .icon36, .icon37, .icon44{
    background-color: white;
    border-color: white;
}
.icon23{
    background-color: silver;
    border-color: silver;
}
.icon23 img{
    display: flex;
    flex-direction: column;
    height: 32px;
    padding-top: 1px;
   
}
.icon28{
    background-color: #6c4cf9;
    border-color: #6c4cf9;
}
.icon30{
    background-color: #7ac70c;
    border-color: #7ac70c;
}
.icon31,.icon32 img{
    margin-top: 5px;
    width: 39px;
    height: 30px;
}
.icon34 {
    background-color: #943bae;
    border-color: #943bae;
}
.icon38{
    background-image:linear-gradient(#63056f, #630303);
}
.icon39{
    background-color: #317ec6e1;
    border-color:#317ec6e1 ;
}
.icon40{
    background-color: #ede7ac;
}
.icon41{
    background-image:linear-gradient(to right,white,rgb(209, 96, 4));
    border-color: rgb(240, 223, 209);
}
/* .icon42{
    background-image:radial-gradient(45deg,yellow, rgb(0, 0, 0));
} */
.icon42 img{
    height: 26px;
    margin-top: 5px;
}




/* iphone model */
.iphone{
    background-color: black;
    border: 2px solid black;
    height: 695px;
    width: 370px;
    border-radius: 40px;
}
.iphone .iphone-innerscreen{
    background-color: #c0c0c0;
    height: 680px;
    width: 355px;
    border-radius: 40px;
    margin-left: 5px;
    margin-top: 5px;
    background-image: url(img/IMG-20241122-WA0003.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.iphone-camera{
    background-color: black;
    height: 10px;
    width:150px;
    border: 2px solid black;
    padding-top: 30px;
    border-radius: 0px 0px 12px 12px;
    margin-left: 100px;
}
.big-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    /* border: 1px solid black; */
    padding: 10px;
    margin-top: 10px;
}
.big-box1{
border: 1px solid black;
height: 120px;
width: 120px;
border-radius: 10px;
background-image: url(img/IMG-20241122-WA0004.jpg);
background-size: cover;
}

.middle-box{
    padding: 20px;
    background-color: aliceblue;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-self: center;
    align-items: center;
}
.middle-boxes{
    border: 1px solid black;
    height: 40px;
    width: 40px;
    border-radius: 5px;
}
.lower-bar{
    backdrop-filter: blur(10px);
    /* filter: blur(10px); */
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid black;
    width: 330px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-self: center;
    border-radius: 20px;
    margin-top: 100px;
    
    
}
.smaller-boxes{
    z-index: 1;
    border: 1px solid black;
    height: 40px;
    width: 40px;
    border-radius: 8px;
    color: black;

}